.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.shizuru-regular {
  font-family: "Shizuru", system-ui;
  font-weight: 400;
  font-style: normal;
}



body {
    /* background-color: pink; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.85)), url("sakura.jpg");
    /* background-position: center; */
    background-size: 110%;
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin: 0;
    /* background size */
}


.boxheader {
    background-color: rgba(0, 0, 0, 0.4);
    /* align-items: center; */
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    font-family: knewave;
    font-weight: lighter;
    color: #FD7979;
}

#logo, #setting {
    color: aliceblue;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    font-size: 20px;
    /* border: 2px dashed black; */
    /* border-radius: 20px; */
}

#logo {
    padding-left: 20px;
    text-align: left;
}

#setting {
    padding-right: 20px;
    text-align: right;
    font-family: Nunito;
    font-weight: bold;
}

#logo-img {
    vertical-align: middle;
    border-radius: 100%;
    width: 50px;
    display: inline-block;
    /* height: auto; */
}

.container {
    display: flex;
    gap: 30px;
    width: 20%;
    border: 2px solid plum;
    text-align: center;
    /* border-radius: 20px; */
}

/* .add {
    
    text-align: right;
} */

#bar {
    display: flex;
    justify-content: center;
    /* gap: 550px; */
    margin-top: 20px;
}

button {
    background-color: #FFCDC9;
    border-radius: 10px;
    padding: 12px 20px;
    border: 2px solid black;
}

.boxfull {
    color: wheat;
    font-family: monospace;
    font-size: 26px;
    justify-content: center;
    text-align: center;
    /* display: flex; */
}

h1 {
    font-weight: bold;
    font-family: Nunito;
}

.timebox {
    font-weight: bold;
    /* font-family: Knewave; */
}

.main .main-all {
    display: block;
}

.main .main-all-in-one {
    display: block;
}

.main .main-focus {
    display: block;
}

.show-container {
    display: block;
}

.hide-container {
    display: none;
}